{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "import"
  ],
  "extends": [
    "plugin:import/errors"
  ],
  "rules": {
    "import/no-cycle": 2
  }
}